* {
  margin: 0;
  font-family: futura;
  font-size: 2vw;
}

main {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(black, steelblue, silver);
}

/* Player Sections */
aside {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: space-around;
}

img {
  width: 70%;
}

.token {
  width: 45%;
}

h3 {
  font-size: 1.5vw;
}

.style {
  flex-direction: column;
  line-height: 2;
}

h2, span {
  font-family: berry rotunda;
  color: #CAD6E3;
}

.sub-head {
  font-size: 1.3vw;
}

.wins {
  flex-direction: column;
  height: 20%;
}

.wins h3 {
  font-size: 2vw;
}

/* Game Board Section */
section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: linear-gradient(silver, steelblue, black);
  box-shadow: 0px 0px 20px 9px darkgrey;
}

div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.board {
  height: 60%;
  flex-wrap: wrap;
  align-content: center;
}

button {
  border: 5px solid #CAD6E3;
  background: transparent;
  height: 30%;
  width: 30%;
  outline: none;
  cursor: pointer;
  color: transparent;
}

.left-border {
  border-left: none;
}

.border-top {
  border-top: none;
}

.border-right {
  border-right: none;
}

.border-bottom {
  border-bottom: none;
}

.pointer-events {
  pointer-events: none;
}
